
html {
 box-sizing: border-box;
 color:#222;
 font-family: sans-serif;
}
body {

 margin:0;
 background-color: #F4EAD5 ;

}

h1 {
 margin-top: 0px;
 background-color: #C6E5D9 ;
 color:#E94E77 ;
 padding-left:50px;
 line-height: 2em;
 border-bottom: 4px solid #D68189 ;
}
#Pixel-Painter {

}
.pp-canvas {
 height: 800px;
 width: 60%;
 display:inline-block;
 float:left;
 vertical-align: top;
 /*border: 1px solid #222;*/

}
.square {
  background: rgb(255, 255, 255);
  display:inline-block;
  width: 10px;
  height:10px;
  padding: 5px;
  border: 1px solid #e6e6e6;
}

.nav {
 display:inline-block;
 background-color: #C6A49A ;
 width: 22%;
 /*height: 695px;*/
margin-right: 30px;
 padding: 15px;
 float:left;
 vertical-align: top;

}
.mobile-nav {
  display: none;
}
.swatch {
 border-width: 1px;
 display:inline-block;
 width: 30px;
 height:30px;
 padding: 5px;
}
.swatch:onclick

.clear {
  margin: auto;
}

.no-display {
  display: none;
}