
@media screen and (max-width: 480px) {


  .nav {

  }

  .swatch {
    display: none;
  }

  .mobile-nav {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #000;
    margin: auto;
  }

  #no-display {
    display:none;
  }

  #full-width {
    width: 80%;
  }
}



/*add event listener to window so that when the window becomes a certain width. We change it to a display of none*/
/*Then we display the mobile nav that has the pop up buttons */