html {
  box-sizing: border-box;
  color:#222;
  font-family: sans-serif;
}
h1 {
<<<<<<< HEAD
  margin-top: 0px;
  background-color: #C6E5D9;
  color:#E94E77;
  padding-left:50px;
  line-height: 2em;
  border-bottom: 4px solid #D68189;
=======
  text-align: center;
>>>>>>> parent of 625bd4b... clear and erase working
}
#Pixel-Painter {

}
.pp-canvas {
  height: 800px;
  width: 800px;
  display:inline-block;
  float:left;
  vertical-align: top;
  /*border: 1px solid #222;*/
}
.square {
  border-width: 1px;
  background: rgb(255, 255, 255);
  display:inline-block;
  width: 25px;
  height:25px;
  padding: 5px;
}

.nav {
  display:inline-block;
  background-color: orange;
  width: 200px;
  /*height: 695px;*/
  margin: 30px;
  padding: 15px;
  float:left;
  vertical-align: top;

}

.swatch {
  border-width: 1px;
  display:inline-block;
  width: 30px;
  height:30px;
  padding: 5px;
}
.swatch:onclick
